@model LogisticsWebApp.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">

    <div class="col-md-6">
        <h4>Service</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Slug)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Slug)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-sm-10">
               
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Uploads/service_images/@Model.ImageUrl" height="300px" width="300px" style="border-radius:10px" />
    </div>

    
</div>

